.App {
  
  text-align: center;

  margin-top: 20px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
}
.container{
  /* border: 1px solid red; */


width: 650px;
height: 170px;
 background-color: beige;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  background: linear-gradient(
    111deg,
    rgba(205, 215, 250, 0.1) 0%,
    rgba(61, 79, 240, 0.1) 100%
  );
  background-blend-mode: 
  
    inset 0px 10px 5px 0px rgba(255, 255, 255, 0.15),
    inset 0px -10px 5px 0px rgba(205, 215, 250, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transform: translate(0px, 0px);
  transition: transform 300ms ease-out;
  box-shadow: 0px 0px 0px 0px rgba(50, 24, 143, 0.25);
}





.container:hover {
  transform: translate(1px, 0px) scale(1.1, 1.1) skew(0deg, 0deg);
}

.text {
  font: normal normal 16px/1.2 "proxima-nova";
  letter-spacing: 0px;
}